@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-frame {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: black;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #00ffff, #ff00ff) 1;
}

.neon-frame:before, .neon-frame:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: inherit;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 255, 0.5), 0px 0px 15px 5px rgba(255, 0, 255, 0.5);
  mix-blend-mode: lighten;
}